@charset "utf-8";
/* CSS Document*/
@import url('../fonts/font.css');
* 					{margin:0;padding:0;-webkit-font-smoothing:antialiased;line-height:normal;}
body 				{margin:0 auto;font-size:17px;color:#000;font-family: 'aventaextrabold';background:#f1f1f1}
html				{ }
a:active, a:focus,input:focus, textarea:focus,select button{outline:0}
a:active, a:focus	{outline:expression(hideFocus='true')}
::-moz-focus-inner	{border:1px solid transparent!important;}
:link,:visited      {text-decoration:none}
ul,ol,li,pre,
form,blockquote,
fieldset,input,p,select,label,button,textarea,section,a{margin:0px;list-style:none;padding:0;vertical-align:top;border-radius:0;font-family: 'aventaextrabold';}
a img				{border:none;}
h1,h2,h3,h4,h5,h6	{margin:0px;padding:10px 0px;color:#000;font-family: 'aventaextrabold';}
.container {/*max-width:850px;*/padding:25px;background:#fff}
.order-anona{margin-bottom:15px}
.order-id small{font-size:14px;display:block;margin-bottom:3px}
.anona-logo img{width:200px}
.order-row{border-bottom:1px solid #000;padding:10px 0 }
.table-data tr td small{display:block}
.table-data-main{border-bottom:1px solid #000}
.table-data tr:first-child{border-bottom:1px solid #000;}
/*.table-data-main tr td:first-child{padding-right:15px;}
.table-data-main tr td:last-child{padding-left:15px;}*/
.table-td-left{border-right:1px solid #000;  }
.table-td-left table tr td:last-child{padding-right:15px;}
.table-td-right table tr td:first-child{padding-left:15px;}
.table-td-right{ }
.table-data tr td{padding:7px 0}
.table-data tr td div{font-size:15px}
.anona-foot img{width:50px;display:inline-block;margin-right:15px }
.anona-foot div,.foot-right div{display:inline-block}
.foot-right .order-id:first-child{padding-right:20px}
.footer-anona{margin-top:15px}
.foot-right{margin-top:10px}
@media (min-width:300px) and (max-width: 1200px){
.container {max-width:100%;}
}
@media (min-width:300px) and (max-width:780px){
	body{font-size:16px;}
	.container{padding:10px;}
	.order-id small{font-size:12px;}
	.table-data tr td div{font-size:14px}
}